{
    "$or": [
        {
            "operationType": "insert"
        },
        {
            "operationType": "replace",
            "$or": [
                {
                    "fullDocument.{{ field_name }}": {
                        "$exists": false
                    }
                },
                {
                    "$expr": {
                        "$gt": [
                            "$fullDocument.{{ field_name }}",
                            "$fullDocumentBeforeChange.{{ field_name }}"
                        ]
                    }
                }
            ]
        },
        {
            "operationType": "update",
            "$expr": {
                "$gt": [
                    "$updateDescription.updatedFields.{{ field_name }}",
                    "$fullDocumentBeforeChange.{{ field_name }}"
                ]
            }
        }
    ]
}
