{
    "$or": [
        {
            "operationType": {
                "$in": [
                    "insert",
                    "replace"
                ]
            }
        },
        {
            "updateDescription.updatedFields.{{ field_name }}": {
                "$exists": true
            }
        }
    ]
}
