{
    "$or": [
        {
            "updateDescription.updatedFields.{{ field_name }}": {
                "$exists": true
            }
        },
        {
            "fullDocument": {
                "$exists": true
            }
        }
    ]
}
