{
    "$or": [
        {
            "operationType": {
                "$in": [
                    "insert",
                    "replace"
                ]
            },
            "$expr": {
                "$and": [
                    {
                        "$isArray": "$fullDocument.{{ list_name }}"
                    },
                    {
                        "$gt": [
                            {
                                "$size": "$fullDocument.{{ list_name }}"
                            },
                            0
                        ]
                    }
                ]
            }
        },
        {
            "operationType": "update",
            "$expr": {
                "$gt": [
                    {
                        "$size": {
                            "$filter": {
                                "input": {
                                    "$objectToArray": "$updateDescription.updatedFields"
                                },
                                "cond": {
                                    "$regexMatch": {
                                        "input": "$$this.k",
                                        "regex": "^{{ list_name }}\\.[0-9]+(\\.{{ obj_field_name }})?$"
                                    }
                                }
                            }
                        }
                    },
                    0
                ]
            }
        }
    ]
}
